.home-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  margin-top: 3rem;
  flex-wrap: wrap;
  letter-spacing: 5px;
  margin: 6rem;
}

.carousel-container {
  width: 530px;
  position: relative;
}

.home-text-container {
  width: 30rem;
  margin-top: 11rem;
}

.home-text-container div:first-child {
  font-size: 100px;
  font-family: "Bangers", cursive;
  font-weight: lighter;
}

.home-text-container div:nth-child(2) {
  font-size: 40px;
  font-family: "Acme", sans-serif;
  margin-bottom: 0.8rem;
  color: #3e3e3e;
}

.explore-btn {
  border-style: none;
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 6px 20px;
  border-radius: 7px;
  font-size: 20px;
  margin-bottom: 100px;
  transition: 0.5s ease;
  font-family: "Dosis", sans-serif;
  margin-left: 5px;
}

.explore-btn:hover {
  transform: scale(1.1) perspective(1px);
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.line {
  width: 23%;
  position: relative;
  height: 2px;
  background-color: black;

}

.line:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
}

.carousel-img {
  height: 740px;
  width: 510px;
  border-radius: 400px 400px 10px 10px;
}

.background-line {
  position: absolute;
  height: 730px;
  width: 530px;
  bottom: 1rem;
  right: 2rem;
  border: 0.5px solid rgba(0, 0, 0, 0.233);
  z-index: -1;
  border-radius: 400px 400px 4px 4px;
}

.winner-post-header {
  font-size: 70px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;

}

.hashtag {
  font-family: "Satisfy", cursive;
  font-size: 65px;
}

.gray-background {
  color: rgb(56, 55, 55);
  background-color: rgba(30, 80, 121, 0.061);
  width: 76%;
  font-size: 50px;
  padding: 30px 16px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
  position: relative;
  margin-top: 6rem;
}

.description {
  font-size: 25px;
  font-weight: lighter;
  display: block;
  text-align: justify;
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.3;
  margin-right: 400px;
}

.img-container {
  position: absolute;
  z-index: 2;
  right: 50px;
}

.gray-background img {
  height: 400px;
  border-radius: 8px;
  border: 8px solid rgba(255, 255, 255, 0.507);
  transition: 0.5s ease;
}

.gray-background .right img {
  transform: rotate(10deg);
}

.gray-background .left img {
  transform: rotate(-10deg);
}

.gray-background img:hover {
  cursor: pointer;
  transform: scale(1.15) perspective(1px);
}

.right-side {
  float: right;
  margin-top: 10rem;
}

.right-side span {
  float: right;
  margin-right: 0;
  margin-left: 400px;
}

.right-side .img-container {
  left: 50px;
}


@media screen and (max-width: 1362px) {
  .home-header-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-header-container>div:first-child {
    width: 80%;
    text-align: center;
  }

  .winner-container {
    display: none;
  }
}